<h1>New video</h1>

<% form_for @video, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo_video %><br />
    <%= f.text_field :titulo_video %>
  </p>
 <p>imagen:<%= f.file_field :img_video %></p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :game_id %><br />
    <%= f.collection_select :game_id, Game.all, :id, :nombre_juego %>
  </p>
   <p>
    <%= f.label :categoriav_id%><br />
    <%= f.collection_select :categoriav_id, Categoriav.all, :id, :categoria %>
  </p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', videos_path %>