<h1>New consola</h1>

<% form_for(@consola) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre_consola %><br />
    <%= f.text_field :nombre_consola %>
  </p>
  <p>
    <%= f.label :compania_consola %><br />
    <%= f.text_field :compania_consola %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', consolas_path %>