<h1>New game</h1>

<% form_for @game, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>imagen:<%= f.file_field :imagen_juego %></p>
   <p>
    <%= f.label :nombre_juego %><br />
    <%= f.text_field :nombre_juego %>
  </p>
  <p>
    <%= f.label :compania %><br />
    <%= f.text_field :compania %>
  </p>
  <p>
    <%= f.label :distribuidor %><br />
    <%= f.text_field :distribuidor %>
  </p>
  <p>
    <%= f.label :genero %><br />
    <%= f.text_field :genero %>
  </p>
  <p>
    <%= f.label :fecha_lanzamiento %><br />
    <%= f.date_select :fecha_lanzamiento %>
  </p>
  <p>
    <%= f.label :esrb %><br />
    <%= f.text_field :esrb %>
  </p>
  <p>
    <%= f.label :consola %><br />
    <%= f.collection_select :consola_id, Consola.all, :id, :nombre_consola %>
  </p>
  <p>
    <% f.label :gamescore %><br />
    <% f.text_field :gamescore %>
  </p>
  <p>
    <% f.label :ratescore %><br />
    <% f.text_field :ratescore %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>