<h1>Editing newrelease</h1>

<% form_for(@newrelease) do |f| %>
  <%= f.error_messages %>

 <p>
    <%= f.label :nombre_juego %><br />
    <%= f.collection_select :game_id, Game.all, :id, :nombre_juego%>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @newrelease %> |
<%= link_to 'Back', newreleases_path %>