<h1>Editing categoriav</h1>

<% form_for(@categoriav) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :categoria %><br />
    <%= f.text_field :categoria %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @categoriav %> |
<%= link_to 'Back', categoriavs_path %>